<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        h1 {
            padding: 30px;
            font-weight: 600 !important;
            font-size: 3.2em;
        }

        .well {
            width: 50%;
        }

        mark {
            background-color: #04aa6d;
            color: white;
            border-radius: 5px;
        }
    </style>
    <title>CIFAR 10 사물 인식</title>
</head>

<body>
    <section class="cifar10">
        <div class="container">
            <div class="col-md-12">
                <center>
                    <h1>VGG 모델을 활용한 사물 인식 프로젝트</h1>
                    <p>이미지를 올려주세요</p>
                </center>
            </div>
            <div class="col-md-12">
                <center>
                    <div class="well">
                        <form action="" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="file" class="form-control" id="file" name="file">
                            </div>
                            <div id="selectedBanner"></div>
                            <br>
                            <button type="submit" class="btn btn-success">이미지 분류하기</button>
                        </form>
                    </div>
                </center>
            </div>
            {% if objs %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h4>업로드한 이미지는 <mark>{{ objs }}</mark>
                        입니다.</h4>
                    <h4>Probabilities: {{ probs }}</h4>
                </div>
                <div class="col-md-4"></div>
            </div>
            {% endif %}

            <script>
                var selDiv = "";
                var storedFiles = [];
                $(document).ready(function () {
                    $("#file").on("change", handleFileSelect);
                    selDiv = $("#selectedBanner");
                });

                function handleFileSelect(e) {
                    var files = e.target.files;
                    var filesArr = Array.prototype.slice.call(files);
                    filesArr.forEach(function (f) {
                        if (!f.type.match("image.*")) {
                            return;
                        }
                        storedFiles.push(f);

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var html =
                                '<img src="' +
                                e.target.result +
                                "\" data-file='" +
                                f.name +
                                "alt='Category Image' height='200px' width='200px'>";
                            selDiv.html(html);
                        };
                        reader.readAsDataURL(f);
                    });
                }
            </script>
        </div>
        </center>
    </section>
</body>

</html>